<!doctype html>
<html lang="{{ metadata.language }}" class="scroll-pt-6 {{ htmlClass }}" x-data="xDOM">
  <head>
    {%- if eleventy.env.runMode === "serve" -%}
      <link rel="stylesheet" href="/css/main.css">
    {%- else -%}
      <style>{%- include "../../../_site/css/main.css" -%}</style>
    {%- endif -%}
  </head>
  <body class="bg-white {{ bodyClass }}">

    <main id="skip" class="my-12">
      <div class="container sm:px-10">
        {{ content | safe }}
      </div>
    </main>

    <script src="/js/main{%- if eleventy.env.runMode == 'build' -%}.{{ build.hash.short }}{%- endif -%}.js" defer type="text/javascript"></script>
  </body>
</html>
