---
permalink: '/_redirects'
eleventyExcludeFromCollections: true
---

{# Blog Redirects #}

/the-book-2/ /the-book/

/?p=1040 /help-preserve-history/

/?p=885 /wwii-american-home-front-oral-history-project/

/?p=862 /thank-you-kaiser-heritage/

/?p=851 /wwii-home-front-festival/

/?p=843 /book-tour-cat-and-book-store-cat/

/?p=831 /the-grand-circle-of-washington-and-why-you-should-never-take-a-kiwi-on-a-book-tour/

/?p=827 /the-frogman-and-four-eyed-frog-books/

/?p=820 /publication-party/

/?p=764 /bobs-beach-books-authors-fair/

/?p=601 /wonderful-bookstores/

/?p=517 /rosie-the-icon/

/?p=446 /during-and-after-photos/

/?p=440 /exfoliating-mighty-mouse/

/?p=429 /field-of-dreams/

/?p=405 /1954-beemer/

/?p=398 /the-genesis-of-the-tin-can-camper-book-tour/
