---
layout: base.njk
permalink: /contact/
---

<div class="container">
  <div class="space-y-2">
    <h1 class="text-black font-bold text-2xl">Contact</h1>

    <h2 class="text-black text-base font-bold">Therese Ambrosi Smith</h2>
  </div>

  <p>
    PO Box 3593<br>
    Half Moon Bay, CA 94019
    <br><br>
    wax1941@att.net
    <br><br>
    Please share stories or comments about women in the 1940s, in the box below:
  </p>
</div>
