---
layout: base.njk
permalink: /news-from-the-tour/
---

<section class="py-4 md:py-8">
  <div class="grid grid-cols-1 gap-4 lg:gap-8 prose mx-auto">
    {% for post in collections.posts | reverse %}
      {% include "partials/single-post-card.njk" %}
    {% endfor %}
  </div>
</section>
