<footer class="flex-col items-center justify-center w-full">
  <div class="container flex text-md font-bold">
    <div class="w-full border-t-4 border-black">
      <p class="py-4 text-gray">
        <span x-text="(new Date()).getFullYear()">{% year %}</span> © <a class="!text-black" target="_blank" href="https://thereseambrosismith.com/">Therese Ambrosi Smith</a>
      </p>
    </div>
  </div>
</footer>
