
<footer class="flex-col items-center justify-center w-full">
  <div class="container py-4 flex flex-wrap gap-4">
    <a class="hover:underline" href="/goto/buy-digital-book/" target="_blank">Buy Digital Book</a>
    <a class="hover:underline" href="/goto/rosie-foundation/" target="_blank">Rosie Foundation</a>
    <a class="hover:underline" href="/goto/regional-oral-history-project/" target="_blank">Regional Oral History Project</a>
    <a class="hover:underline" href="/goto/rosie-the-riveter-wwii-home-front-national-park/" target="_blank">Rosie the Riveter WWII Home Front National Park</a>
  </div>
  <div class="container border-t-4 border-black py-4">
    <p class="text-gray text-md font-bold my-0">
      <span x-text="(new Date()).getFullYear()">{% year %}</span> © <a class="!text-black" target="_blank" href="https://thereseambrosismith.com/">Therese Ambrosi Smith</a>
    </p>
  </div>
</footer>
