<header class="flex-col items-center justify-center w-full">
  <div class="container py-6">
    <div class="text-center">
      <h1 class="text-5xl font-bold text-red">Wax</h1>
      <p class="text-xl italic text-gray">A novel about women in the 1940s</p>
    </div>
  </div>
  <div class="container p-0 border-y-4 border-black">
    {% image "/images/mastehead-graphic16.jpg", "", [auto], "w-full" %}
    <div class="bg-black text-gray-100 px-2 text-xs">
      <div class="flex">
        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" target="_blank" href="https://thereseambrosismith.com/">Author Website</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="">Inspiration</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="">Praise for "Wax"</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="">Book</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="">Chapters 1 & 2</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="">Liberty Ships</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="">Tilly's Favourite Places</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="">Blog</a>
        </div>

      </div>

      <div class="flex">

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="">Tin Can Camper Book Tour</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="">Women in the 1940s, in the news</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="">Support your local bookstore!</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="">Contact</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="">Rationing for the home cook</a>
        </div>

      </div>
    </div>
  </div>

</header>
