<header class="flex-col items-center justify-center w-full">
  <div class="container py-6">
    <div class="text-center">
      <h1 class="text-5xl font-bold text-red">Wax</h1>
      <p class="text-xl italic text-gray">A novel about women in the 1940s</p>
    </div>
  </div>
  <div class="container p-0 border-y-4 border-black">
    {% image "/images/mastehead-graphic16.jpg", "", [auto], "w-full" %}
    <div class="bg-black text-gray-100 px-2 text-xs">
      <div class="flex">
        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" target="_blank" href="https://thereseambrosismith.com/">Author Website</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="/">Inspiration</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="/early-praise-for-wax/">Praise for "Wax"</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="/the-book/">Book</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="/sample-chapters-1-2/">Chapters 1 & 2</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="/about-liberty-ships/">Liberty Ships</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="/tillys-favorites/">Tilly's Favourite Places</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="/news-from-the-tour/">Blog</a>
        </div>

      </div>

      <div class="flex">

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="/tin-can-book-tour/">Tin Can Camper Book Tour</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="/rosie-in-the-news/">Women in the 1940s, in the news</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="/support-your-local-bookstore/">Support your local bookstore!</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="/contact/">Contact</a>
        </div>

        <div class="hover:bg-gray-200 hover:text-white">
          <a class="block p-3" href="/rationing-for-the-home-cook/">Rationing for the home cook</a>
        </div>

      </div>
    </div>
  </div>

</header>
