{% if permalink === "/" %}
  {% set pageTitle = metadata.title %}
{% endif %}

{% metagen
	robots=robots or metadata.robots,
	title=pageTitle or title + ' ' + metadata.suffix|escapeMetaData,
	desc=(desc or metadata.description)|escapeMetaData,
	url=metadata.url + (metadata.permalink or permalink or '/'+(title|slugify)+'/'),
	img=metadata.url + (ogImage or defaultOGImage),
	img_alt=(ogImageAlt or metadata.openGraph.imageAlt or metadata.title)|escapeMetaData,
	twitter_card_type='summary_large_image',
	twitter_handle=twitter or metadata.author.twitter,
	name=author or metadata.author.name,
	generator=eleventy.generator,
	comments=true
%}

{#- Atom and JSON feeds included by default #}
<link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
<link rel="alternate" href="/feed.json" type="application/json" title="{{ metadata.title }}">
