{% if permalink === "/" %}
  {% set pageTitle = metadata.title %}
{% endif %}

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

{% metagen
	robots=robots or metadata.robots,
	title=pageTitle or title + ' ' + metadata.suffix|escapeMetaData,
	desc=(desc or metadata.description)|escapeMetaData,
	url=metadata.url + (metadata.permalink or permalink or '/'+(title|slugify)+'/'),
	img=metadata.url + (ogImage or '/og-default.png'),
	img_alt=(ogImageAlt or metadata.openGraph.imageAlt or metadata.title)|escapeMetaData,
	twitter_card_type='summary_large_image',
	twitter_handle=twitter or metadata.author.twitter,
	name=author or metadata.author.name,
	generator=eleventy.generator,
	comments=true
%}
