<script>
  (function(redirects){
    var searchParams = new URLSearchParams(location.search);
    var p = searchParams.get("p");
    if (p && redirects[p] !== undefined) {
      location.href = redirects[p];
    }
    else if (p && redirects[p] === undefined) {
      location.href = "/404/";
    }
  })({
    "1040": "/help-preserve-history/",
    "885": "/wwii-american-home-front-oral-history-project/",
    "862": "/thank-you-kaiser-heritage/",
    "851": "/wwii-home-front-festival/",
    "843": "/book-tour-cat-and-book-store-cat/",
    "831": "/the-grand-circle-of-washington-and-why-you-should-never-take-a-kiwi-on-a-book-tour/",
    "827": "/the-frogman-and-four-eyed-frog-books/",
    "820": "/publication-party/",
    "764": "/bobs-beach-books-authors-fair/",
    "601": "/wonderful-bookstores/",
    "517": "/rosie-the-icon/",
    "446": "/during-and-after-photos/",
    "440": "/exfoliating-mighty-mouse/",
    "429": "/field-of-dreams/",
    "405": "/1954-beemer/",
    "398": "/the-genesis-of-the-tin-can-camper-book-tour/"
  });
</script>
