<article class="p-4 md:p-8">
	<h3 class="font-bold text-md md:text-lg mt-4">
		<a class="text-current" href="/blog/{{ post.data.title | slugify }}/">{{ post.data.title }}</a>
	</h3>
  <div class="post-metadata text-gray-300 m-0 text-xs">
    <p>
      Posted on <time datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | readableDate("LLLL dd, yyyy") }}</time> by
      <a class="underline" href="{{ post.data.authorUrl }}">{{ post.data.author }}</a>
    </p>
  </div>
	<p class="pt-3 text-sm line-clamp-4">{{ post.data.desc }}</p>
</article>
